<div class='card'
  style='background: radial-gradient(50% 50% at var(--x0) var(--y0), #1f90ba, transparent), radial-gradient(50% 50% at var(--x1) var(--y1), #D505FF, transparent), radial-gradient(50% 50% at var(--x2) var(--y2), #FFDE05, transparent), radial-gradient(50% 50% at var(--x3) var(--y3), #FF4949, transparent); border: 1px solid var(--red); transition: --x0 1s, --x1 1s, --x2 1s, --x3 1s, --y0 1s, --y1 1s, --y2 1s, --y3 1s'>
  <div class='card-content'>
    <span class='tag is-medium'>{% if open %}OPEN{% else %}CLOSED{% endif %}</span>
    <h2>{{ name }}</h2>
    {% if description %}
      <p>{{ description }}</p>
    {% endif %}
    {%if open %}
      <a class='button is-rounded btn-red'>Apply <span class='fa-solid fa-chevron-right'></a>
    {% endif %}
  </div>
</div>
