<div class="discord-module-card my-6">
  <div class="discord-icon-container">
    <span class="fa-brands fa-discord"></span>
  </div>
  <div class="discord-content-block">
    <h3 class="discord-title mb-2">Join the community on Discord</h3>
    <p class="discord-body mb-5">Join our community on the TouhouFest Official Discord Server!</p>
    <div class="discord-buttons">
      <a class="button is-medium" href="{{ config.extra.socials.discord_invite | default(value='https://discord.gg/touhoufest') }}">Join Discord <span class="fa-solid fa-arrow-right ml-2"></span></a>
    </div>
  </div>
</div>