<div class='container'>
  <div class='card has-text-white mt-6 mb-6' style='background-color: var(--red)'>
    <div class='card-content'>
      <div style='display: flex'>
        <p class='fa-brands fa-discord m-6' style='font-size: 100px'></p>
        <div>
          <h2 class='has-text-white title'>FAQs</h2>
          <p>Join our community on the TouhouFest Official Discord Server!</p>
          <p class='mt-5'><a class='button is-rounded' href='https://discord.gg/touhoufest'>Join Our Discord <span
                class='fa-solid fa-chevron-right'></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>