<div class='container'>
  <div class='card has-text-white faq-link-module mt-6 mb-6'>
    <div class='card-content'>
      <div class='faq-link-flex'>
        <p class='fa-brands fa-discord faq-link-icon m-6'></p>
        <div>
          <h2 class='has-text-white title'>FAQs</h2>
          <p>Join our community on the TouhouFest Official Discord Server!</p>
          <p class='mt-5'><a class='button is-rounded' href='https://discord.gg/touhoufest'>Join Our Discord <span
                class='fa-solid fa-chevron-right'></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>