{% import "macros/assets.html" as assets %}
<div class="newsletter-module-card my-6">
  <div class="newsletter-icon-container">
    <img src="{{ assets::url(path='/email.svg') }}" alt="Tengu Newsletter" />
  </div>
  <div class="newsletter-content-block">
    <h3 class="newsletter-title mb-2">The Tengu Newsletter</h3>
    <p class="newsletter-body mb-5">Sign up with your email address to receive news and updates.</p>
    <form class="newsletter-form" action="https://touhoufest.us21.list-manage.com/subscribe/post" method="POST" target="_blank">
      <div class="control">
        <input class="input is-medium" type="email" name="EMAIL" placeholder="Email here" required />
      </div>
      <div class="control">
        <button class="button is-medium" type="submit">Subscribe <span class="fa-solid fa-arrow-right ml-2"></span></button>
      </div>
    </form>
  </div>
</div>