<div class='container'>
  <div class='card has-text-white mb-6 mt-6' style='background-color: #BF3444'>
    <div class='card-content'>
      <div style='display: flex'>
        <img class='m-6' src='/email.svg'>
        <div>
          <h2 class='has-text-white title'>The Tengu Newsletter</h2>
          <p>Sign up with your email address to receive news and updates.</p>
          <p class='mt-5'><a class='button is-rounded' href='https://discord.gg/touhoufest'>Subscribe <span
                class='fa-solid fa-chevron-right'></span></a></p>
        </div>
      </div>
    </div>
  </div>
</div>