{% import "macros/assets.html" as assets %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preload" href="/fonts/poppins-v24-latin-800.woff2?v=af4d371a" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="{{ get_url(path="style.css", cachebust=true) }}" />
  <title>{{ config.title }}</title>
  {% include "og_tags.html" %}
</head>

<body class="is-family-sans is-fullheight">
  <input type="checkbox" id="theme-toggle" class="is-hidden theme-toggle-checkbox" aria-hidden="true" />
  <div class="header">
    {% include "nav.html" %}
  </div>
  <section class="hero is-dark is-medium hero-section-main" style="background-image: url('{{ assets::url(path="hero.png", width=1440) }}');">
    <div class="hero-gohei-strip"></div>
    <div class="hero-body container">
      <div class='card hero-tag-card'>
        <div class='card-content'>
          {% block header %}
          {% endblock %}
        </div>
      </div>
    </div>
  </section>
  {% block content %}
  {% endblock content %}
  {% include "footer.html" %}
</body>

</html>