{# ==========================================================================
   Header & Navigation
   ========================================================================== #}
<header class="tf-header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item py-2" href="{{ get_url(path='') }}">
          <img src="{{ get_url(path='banner.png') }}" alt="{{ config.extra.site_name }}" style="max-height: 48px;">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="tf-navbar-menu">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="tf-navbar-menu" class="navbar-menu">
        <div class="navbar-end is-align-items-center">
          <a class="navbar-item" href="{{ get_url(path='about/event') }}">Event Info</a>
          <a class="navbar-item" href="{{ get_url(path='schedule') }}">Schedule</a>
          <a class="navbar-item" href="{{ get_url(path='about/hotels') }}">Hotels</a>
          <a class="navbar-item" href="{{ get_url(path='features/gaming') }}">Gaming</a>
          <a class="navbar-item" href="{{ get_url(path='features/cosplay') }}">Cosplay</a>
          <a class="navbar-item" href="{{ get_url(path='about/faq') }}">FAQ</a>
          <a class="navbar-item" href="{{ get_url(path='register') }}">Register</a>
        </div>
      </div>
    </div>
  </nav>
</header>