
{% if page is defined and page.title %}
  <meta content="{{ page.title }}" property="og:title">
{% else %}
  <meta content="{{ config.title }}" property="og:title">
{% endif %}

{% if page is defined and page.title %}
  <meta content="article" property="og:type">
{% else %}
  <meta content="website" property="og:type">
{% endif %}

{% if page is defined and page.description %}
  <meta content="{{ page.description }}" property="og:description">
{% endif %}

{% if page is defined and page.url %}
  <meta content="{{ config.base_url | default(value='') }}{{ page.url }}" property="og:url">
{% endif %}

{% if page is defined and page.date %}
  <meta content="{{ page.date | date(format="%+") }}" property="article:published_time">
  <meta content="{{ get_url(path="/about/") }}" property="article:author">
{% endif %}

{% if page is defined and page.image %}
  <meta content="{{ get_url(path=page.image) }}" property="og:image">
{% endif %}

