{% extends "base.html" %}

{% block header %}
  {% if not page.extra.hide_header %}
    {% if page.extra.hero_title %}
      {{ <page_header title={page.extra.hero_title} subtitle={page.extra.subtitle | default(value="")} description={page.extra.hero_body | default(value="")} /> }}
    {% else %}
      {{ <page_header title={page.title} subtitle={page.extra.subtitle | default(value="")} /> }}
    {% endif %}
  {% endif %}
{% endblock header %}

{% block content %}
<div class="page-body-container container">
  {% if page.extra.toc %}
    {% include "toc.html" %}
  {% endif %}
  {{ page.content | safe }}
</div>
{% endblock content %}