{% extends "base.html" %}

{% block header %}
  {% if not page.extra.hide_header %}
    {%- set header_title = page.extra.header_title | default(value=page.extra.hero_title | default(value=page.title)) -%}
    {% if page.extra.hero_body %}
      {{ <page_header title={header_title} subtitle={page.extra.subtitle | default(value="")} description={page.extra.hero_body} /> }}
    {% else %}
      {{ <page_header title={header_title} subtitle={page.extra.subtitle | default(value="")} /> }}
    {% endif %}
  {% endif %}
{% endblock header %}

{% block content %}
<div class="page-body-container container">
  {% if page.extra.toc %}
    {% include "toc.html" %}
  {% endif %}
  {{ page.content | safe }}
</div>
{% endblock content %}